body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}
#product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.product {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    /* display: inline-block; */
}
.productImage {
    height: 400px;
    width: 500px;
}